String operation

In [ ]:
s="foobar is game"

print(len(s))
print(s[4])

14
a

String Other Operation

In [ ]:
s="magic"
for element in s:
  print(element)

m
a
g
i
c

In [ ]:
m="job"
for element in range(0,len(m)):
  print(m[element])

j
o
b

In [ ]:
word="bananamanana"
count=0
for letter in word:
  if letter=='a':
    count=count+1
print(count)

6

In [ ]:
s="helloworld"
print(s[:5]) #end point will not consider i.e exluded
print(s[2:5])
print(s[5:])
print(s[2:5:2])
print(s[::-1]) #reverse string priint

hello
llo
world
lo
dlrowolleh

In [ ]:
fruit="banana"
print('n'in fruit)
print('m' in fruit)

True
False

In [ ]:
string="practicefast"
print(string.isupper())
print(string.islower())
print(string.upper())

s="HARDWORK"
print(s.lower())

False
True
PRACTICEFAST
hardwork

Stripping the white spaces

In [ ]:
greet="    hello bob/"
print(greet.lstrip())

meet="/water   "
print(meet.rstrip())

weet="   jamun    "
print(weet.strip())

hello bob/
/water
jamun

Parcing and Extracting

In [ ]:

data=' manojkawati577@gmail.com  sat jan 5'

atpos=data.find('@')
print(atpos)

stpos=data.find(' ',atpos)
print(stpos)
host=data[atpos+1:stpos]
print(host)

max=data.find(' ')
print(max)

user=data[max:atpos]
print(user)

15
25
gmail.com
0
 manojkawati577

List and its operation

In [ ]:
#various list
list=["apple","banana","orange",3.5,12 ,[5,2]]
print(list)

#list are mutable(changeble) by indexing number but string are not 
list[2]="grapes"
print(list)

#using len() function and range() function for calculating number of element
print(len(list))

print(range(len(list)))

#two loops using "for" and 'range function
for fruit in list:
  print("hello",list)

#using range function
for i in range (len(list)):
  print("khalo",list[i])

['apple', 'banana', 'orange', 3.5, 12, [5, 2]]
['apple', 'banana', 'grapes', 3.5, 12, [5, 2]]
6
range(0, 6)
hello ['apple', 'banana', 'grapes', 3.5, 12, [5, 2]]
hello ['apple', 'banana', 'grapes', 3.5, 12, [5, 2]]
hello ['apple', 'banana', 'grapes', 3.5, 12, [5, 2]]
hello ['apple', 'banana', 'grapes', 3.5, 12, [5, 2]]
hello ['apple', 'banana', 'grapes', 3.5, 12, [5, 2]]
hello ['apple', 'banana', 'grapes', 3.5, 12, [5, 2]]
khalo apple
khalo banana
khalo grapes
khalo 3.5
khalo 12
khalo [5, 2]

List slicing

In [ ]:
t=[9,41,12,3,74,15,84,46]
print(t[:5])
print(t[2:5])
print(t[2:])
print(t[:])


#using in for searching  return TRUE if in list otherwise FALSE
print(9 in t) #TRUE
print(15 in t) #TRUE
print(99 in t) #FALSE

#using sort() method to sort ascending/alphabetically 
t.sort()
print(t)

[9, 41, 12, 3, 74]
[12, 3, 74]
[12, 3, 74, 15, 84, 46]
[9, 41, 12, 3, 74, 15, 84, 46]
True
True
False
[3, 9, 12, 15, 41, 46, 74, 84]

In [ ]:
#building list from scratch i.e empty by using function "append" 
stuff =[] 
stuff.append('book')
stuff.append('pen')
stuff.append(99)
print(stuff)

['book', 'pen', 99]

SUM/AVERAGE using list

In [ ]:

#using basic method
total=0
count=0
while True:
  inp=input('enter a number')
  if inp=='done':break
  value=float(inp)
  total=total+value
  count=count+1
average= total/count
print('Average:',average)

enter a number25
enter a number25
enter a number30
enter a number30
enter a number30
enter a numberdone
Average: 28.0

In [ ]:
#using user defined list function 
numlist=[]
while True:
  inp=input('enter a number')
  if inp=='done':break
  value=float (inp)
  numlist.append(value)
average=sum(numlist)/len(numlist)
print("Average",average)

enter a number25
enter a number25
enter a number30
enter a number30
enter a number30
enter a numberdone
Average 28.0

Split Function

In [ ]:
#split function use to convert string to list
str ='with three friends'
stuff=str.split()
print(stuff)
print(len(stuff))
for words in stuff:
  print(words)

#Delimeter is function parameter used with split function. by default consider space as delimeter also(multiple space as single space)
line="there are a lot       of spaces"
etc=line.split()
print(etc)

#here we have to specify the delimeter
star='first;second;third'
thing=star.split(';') # ; use as delimeter
print(thing)

#Double split pattern 1st split on space basis 2nd according to our requirement

data="from sachinkamble8806@gmail.com  jan 05 12:30 "
words=data.split()
email=words[1]
print(email)

pieces=email.split('@') # @ used as delimeter
print(pieces)

print(pieces[1])

['with', 'three', 'friends']
3
with
three
friends
['there', 'are', 'a', 'lot', 'of', 'spaces']
['first', 'second', 'third']

Dictionaris and operations

In [ ]:
 # Its like bag, unordred collection of data. its work on key-value points (2) dictionaris are mutable
 # We can create dictionaris using dict() functionn to add the value
bag=dict()
bag['money']=120
bag['candy']=2
bag['tissues']=13
print(bag)

bag['candy']=bag['candy']+3   # shows dicionaries are mutable */ keys are used for changing the values or accessing  NOT INDEX VALUES
print(bag)

opo={}    #creating empty dictionaris
print(opo)

{'money': 120, 'candy': 2, 'tissues': 13}
{'money': 120, 'candy': 5, 'tissues': 13}
{}

In [ ]:
#get() functions to get freuency of word in dictionarie  this function only in dictionary
#use get() function provide with default value 0 (zero) the key is not yet in dictionaris - then just add one 1

count=dict()
names= ['man','wen','man','zqun','wen']
for var in names:
  count[var]=count.get(var,0)+1   # in one line of code gives frequency of words
print(count)

{'man': 2, 'wen': 2, 'zqun': 1}

In [ ]:
#Taking user input and other program is same

mob=dict()
jam=input("enter a line ")
word=jam.split()
print(word)
for mam in word:
  mob[mam]=mob.get(mam,0)+1
print(mob)

enter a line pract in the pract shuld in pract
['pract', 'in', 'the', 'pract', 'shuld', 'in', 'pract']
{'pract': 3, 'in': 2, 'the': 1, 'shuld': 1}

Loops and Dicionaries

In [ ]:
# Even though dictionaris are not stored in order , we can go through for loop with dicionaris using KEYS and looks the value 
counts={'chuck':1,'fred':42,'jan':100}
for keys in counts:
  print(keys,counts[keys])

chuck 1
fred 42
jan 100

In [ ]:
# Retriving keys and values we get both keys and values by following functions
jjj={'chuck':1,'fred':42,'jan':100}
print(jjj.keys()) 
print(jjj.values())
print(jjj.items())

dict_keys(['chuck', 'fred', 'jan'])
dict_values([1, 42, 100])
dict_items([('chuck', 1), ('fred', 42), ('jan', 100)])

In [ ]:
#looping keys and values together, using two iteration variable
#first iteration is for keys & 2nd for values
for aaa,bbb in jjj.items():
  print(aaa,bbb)

chuck 1
fred 42
jan 100